.profile-modif-tab-container {
    margin-top: 1em;
}

.profile-modif-btn-group {
    margin-top: 1em;
}

.profile-modif-tab-container textarea {
    margin-bottom: 1.5em;
}

.instrument-rating-remove {
    font-size: 1.5em;
    margin-top: 0.5em;
    color: #D9534F;
}
.instrument-rating-remove span:hover{
    color: #C9302C;
    cursor: pointer;
}

.profil-modif-section-header-text {
    margin-top: 0;
}